li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

li.completed {
  text-decoration: line-through;
  color: #999; /* Cambia el color a tu preferencia */
}

li span {
  cursor: pointer;
  font-size: 20px;
  margin: 0 5px;
}

li p {
  margin: 0 10px;
  flex-grow: 1;
}
